################################################
# 			General Configuration
################################################


################################################
#    Applikation-specific Configuration
################################################
